body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 0px 0px 0px 0px;
    width: 96.5vw;
    height: 120px;
    padding: 10px 25px 10px 25px;
    background: #eeeeee;
    font-family: 'Georgia', Times, serif;
}

#siteTitle {
    font-size: 32px;
}

h1 {
    float: left;
    background-color: #4aaaa5;
    width: 220px;
    height: auto;
    padding: 20px;
}

nav {
    position: relative;
    float: right;
    font-size: 20px;
    min-width: 280px;
    margin-top: 50px;
    border: 2px solid #000000;
}

a {
    margin-left: 10px;
    padding: 2.5%;
    line-height: 22px;
    float: left;
}

#aboutTitle {
    float: left;
}

#aboutSection {
    width: 960px;
}

p {
    position: sticky;
    width: 50%;
    clear: left;
}

aside {
    padding: 0px;
    margin: auto;
    width: 33.3%;
    position: relative;
    float: left;
}

#aboutPic {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}