body {
    width: 100vw;
    height: 100vw;
}
header {
    width: 100%;
    padding: 20px;
    background: #eeeeee;
}

#siteTitle {
    font-size: 32px;
}

nav {
    margin-top: 0px;
    margin-right: 5%;
    font-size: 20px;
    float: right;
    min-width: 270px;
    border: 2px solid #000000;
}

a {
    margin-left: 10px;
    padding: 2.5%;
    line-height: 22px;
    float: left;
}

#aboutTitle {
    float: left;
}

p {
    position: sticky;
    width: 50%;
    clear: left;
}

aside {
    position: relative;
    float: left;
}

#aboutPic {
    max-width: 33.3%;
    height: auto;
}